# streamlit==1.54.0
# streamlit-webrtc==0.64.5
# mediapipe==0.10.14
opencv-python==4.10.0.84
# pandas==2.2.3
# groq>=0.12.0
# gtts==2.5.3
# python-dotenv==1.2.2

streamlit==1.54.0
streamlit-webrtc==0.64.5
streamlit-elements==0.1.0
streamlit-extras==1.6.0
streamlit-lottie==0.0.5
streamlit-autorefresh==1.0.1
streamlit-shadcn-ui==0.1.19

mediapipe==0.10.14
# opencv-python-headless==4.10.0.84
numpy==1.26.4
pandas==2.2.3
matplotlib==3.10.9
plotly==6.7.0
scipy==1.17.1

firebase-admin==7.4.0
google-cloud-firestore==2.27.0
google-cloud-storage==3.10.1

groq==1.2.0
gTTS==2.5.3
requests==2.34.2
python-dotenv==1.2.2
Pillow==12.2.0

aioice==0.10.2
aiortc==1.14.0
av==16.1.0